@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  input, select, textarea {
    @apply text-slate-900 font-medium bg-white;
  }
  input::placeholder, textarea::placeholder {
    @apply text-slate-400 font-normal;
  }
  input:disabled, select:disabled, textarea:disabled {
    @apply opacity-90 bg-slate-50 cursor-not-allowed text-slate-800;
  }
}

